{% extends 'inapp.html' %}
{% block title %}Admin{% endblock %}

{% block nav2 %}
<ul>
    <li><a onclick="axe()" href="/newsletter">Newsletter</a></li>
    <li><a onclick="axe()" href="/facilities">Facilities</a></li>
    <li><a onclick="axe()" href="/about">About</a></li>
    <li><a onclick="axe()" href="/harvest">Harvest</a></li>
    <li><a onclick="axe()" href="/feed">Feed</a></li>
    <li><a onclick="axe()" class="active" href="/dash">Admin</a></li>
    
</ul>
{% endblock %}

{% block content %}
<div class="leftcontainer">
    {% block dashboard %} {% endblock %}
    
    <div class="card">
        <h5>Top tags</h5>
        <div class="tags">
            <li><a href="#">#rohit</a></li>
            <li><a href="#">#mohit</a></li>
            <li><a href="#">#rajesh</a></li>
        </div>
        <div class="div"></div>
        <div class="expand">
            <li><a href="#">Explore</a></li>
        </div>
    </div>
</div> {% block right %} {% endblock %}

{% endblock %}