{% extends 'admin.html' %}
{% block dashboard %}
<div class="card">
    <ul>
        <li><a href="/adash">Dashboard</a></li>
        <li><a class="active" href="/anews">News</a></li>
        <li><a href="/aharvest">Harvest</a></li>
        <li><a href="/afacilities">Facility</a></li>
    </ul>
</div>
{% endblock %}

{% block right %}
<div class="rightcontainer">
    <div class="card">
        <div><span>Write a new news..</span></div>
        <a id="newStory" href="#">Start writing..</a>
    </div>
    {% if news %}
    {% for n in news %}
    <div class="card">
        Admin <div>t time ago{{n.time}}</div><br>
        <img id="storyImg" src="{{ url_for('static',filename='uploads/'+n.img) }}" alt="">
        <br>
        <h3>{{n.title}}</h3>
        
        <br>
        {{n.content}}<br>
        <div onclick="viewFullStory()" id="fullStory"><span>View full story..</span></div>
        <br>
        <div class="cardsentiment">
            <div>
                Tags:
                <span id="tag">#tag1</span>
            </div>
            <div>
                Sentiment:
                <span id="sentival">-0.23</span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}