{% extends 'inuser.html' %}
{% block navmenu %}
<ul>
    <li><a onclick="axe()" href="/dash">Dashboard</a></li>
    <li><a onclick="axe()" class="active" href="/cultivate">Cultivate</a></li>
    <li><a onclick="axe()" href="/history">History</a></li>
    <li><a onclick="axe()" href="/story">Stories</a></li>
    <li><a onclick="axe()" href="/account">Account</a></li>
</ul>
{% endblock %}
{% block right %}
<div class="rightcontainer">
    <div class="card intro">
        <div>Hello, welcome to the greatest section of Farm Plus. Here we 
            provide users essential information and the techniques for 
        whatever they want to grow in their fields. <span>Farm Plus</span>
    also serves to provide special intallation and removal of facilities as 
    demanded from its users. <span>Checkout what we have in stock.</span></div>
    </div>
    <!--Flashed msgs-->
    {% with message=get_flashed_messages() %}
    {% if message %}
        {% for m in message %}
            <p>{{m}}</p><br>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card">
        <h3>When can I grow my crop?</h3>
        <div>Explore this model to have detailed information about what
            time you should try growing your favourite crops.
        </div>
        <br>
        Please provide some details before running our trained model.
        <div class="information">
            <div class="infoleft">
                Our Featured crops
                <form action="#" method="POST">
                    <select name="crop1" id="cropselect">
                        <option value="select">select</option>
                        <option value="redcabbage">Red Cabbage</option>
                        <option value="broccli">Broccli</option>
                        <option value="strawberry">Strawberry</option>
                        <option value="kiwi">Kiwi fruit</option>
                        <option value="dragonfruit">Dragon fruit</option>
                        <option value="pepino">Pepino</option>
                    </select>
                    <input id="submit" type="submit" value="Let's go">
                </form>
            </div>
            <div class="inforight">
                <div class="details">
                    <span onclick="showdet()">Fill in the details</span>
                    (All parameters are necessary)
                </div>
                <form action="#" method="POST">
                    <div class="form">
                    <input name="temp1" id="in1" type="number" placeholder="Temperature(degree celcius)"/>
                    <input name="rain1" id="in2" type="number" placeholder="Rain(mm)"/>
                    <input name="humid1" id="in3" type="number" placeholder="Rel. humidity(%)"/>
                    <input name="arain1" id="in4" type="number" placeholder="Avg. no. of Rainydays"/>
                    <input name="wind1" id="in5" type="number" placeholder="Wind speed(km/hr)"/>
                    <input name="cloud1" id="in6" type="number" placeholder="Cloud(in okta)"/>
                    <input name="dist1" id="in7" type="text" placeholder="District(text allowed)"/>
                    </div>
                    <input id="submit" type="submit" value="Let's go">
                </form>
                
            </div>
        </div>  

        {% if out1 %}
        Output Retrived:{{out1}}
        {% if suggestion %}
        
        <div>Suggested views: 
            {% for s in suggestion %}
            <span onclick="requestView('{{s}}')" id="postid">{{s}}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="card">
        <h3>Where can I get the most profitable growth?</h3>
        <div>
            Explore this model to have some enriched outlines about which 
            places would suit your crops more. 
        </div>
        <br>
        Please provide some information
        <div class="information">
            <div class="infoleft">
                Our Featured crops
                <form action="#" method="POST">
                    <select name="crop2" id="cropselect">
                        <option value="select">select</option>
                        <option value="redcabbage">Red Cabbage</option>
                        <option value="broccli">Broccli</option>
                        <option value="strawberry">Strawberry</option>
                        <option value="kiwi">Kiwi fruit</option>
                        <option value="dragonfruit">Dragon fruit</option>
                        <option value="pepino">Pepino</option>
                    </select>
                    <input id="submit" type="submit" value="Let's go">
                </form>
            </div>
            <div class="inforight">
                <div class="details">
                    <span onclick="showdet1()">Fill in the details</span>
                    (All parameters are necessary)
                </div>
                <form action="#" method="POST">
                    <div class="form">
                    <input name="temp2" id="in1" type="number" placeholder="Temperature(degree celcius)"/>
                    <input name="rain2" id="in2" type="number" placeholder="Rain(mm)"/>
                    <input name="humid2" id="in3" type="number" placeholder="Rel. humidity(%)"/>
                    <input name="arain2" id="in4" type="number" placeholder="Avg. no. of Rainydays"/>
                    <input name="wind2" id="in5" type="number" placeholder="Wind speed(km/h)"/>
                    <input name="cloud2" id="in6" type="number" placeholder="Cloud(in okta)"/>
                    <input name="month" id="in7" type="text" placeholder="Month(text allowed)"/>
                    </div>
                    <input id="submit" type="submit" value="Let's go">
                </form>
                
            </div>
        </div> <!--Flashed msgs-->
        


        {% if out2 %}
        Output Retrived:{{out2}}
        {% if suggestion %}
        
        <div>Suggested views: 
            {% for s in suggestion %}
            <span onclick="requestView('{{s}}')" id="postid">{{s}}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
