{% extends 'inapp.html' %}
{% block title %}Feed{% endblock %}

{% block nav2 %}
<ul>
    <li><a href="/newsletter">Newsletter</a></li>
    <li><a href="/facilities">Facilities</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/harvest">Harvest</a></li>
    <li><a href="/feed">Feed</a></li>
    <li><a href="/dash">User</a></li>
    <li><a class="active" href="#">Story</a></li>
    
</ul>
{% endblock %}

{% block fullstory %}
<div class="showcard">
    <div class="card">
        Username <div>t time ago</div>
        <img id="storyImgShow" src="{{ url_for('static',filename='images/farm1.png') }}" alt="">
        <h3>Strory Title</h3>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis iste voluptatum at praesentium autem sequi ipsam aliquid ab! Minus nobis qui fugiat provident nam nostrum reprehenderit, hic atque eius?
        <br><br>
        <div class="cardsentiment">
            <div>
                Tags:
                <span id="tag">#tag1</span>
            </div>
            <div>
                Sentiment:
                <span id="sentival">-0.23</span>
            </div>
        </div>
    </div> 
</div>
{% endblock %}