{% extends 'inapp.html' %}
{% block title %}Feed{% endblock %}

{% block nav2 %}
<ul>
    <li><a onclick="axe()" class="active" href="/newsletter">Newsletter</a></li>
    <li><a onclick="axe()" href="/facilities">Facilities</a></li>
    <li><a onclick="axe()" href="/about">About</a></li>
    <li><a onclick="axe()" href="/harvest">Harvest</a></li>
    <li><a onclick="axe()" href="/feed">Feed</a></li>
    <li><a onclick="axe()" href="/dash">User</a></li>
    
</ul>
{% endblock %}

{% block content %}

    <div class="leftcontainer">
        <div class="card">
            <h5>Recents</h5>
            <div class="tags">
                <li><a href="#">#kiwi</a></li>
                <li><a href="#">#dragonfruit</a></li>
                <li><a href="#">#syntheticfarming</a></li>
                <li><a href="#">#impartialgrowth</a></li>
            </div>
            <div class="div"></div>
            <div class="expand" id="explore">
                <li><a href="#">Explore</a></li>
            </div>
        </div>
    </div>
    <div class="rightcontainer">
       
        {% if news and time_list %}
    {% for n,t in news|zip(time_list) %}
    <div class="card">
        Admin <div>{{t}}</div><br>
        {% if n.img %}
        <img id="storyImg" src="{{ url_for('static',filename='uploads/'+n.img) }}" alt="">
        {% endif %}
        <br>
        <h3>{{n.title}}</h3>
        
        <br>
        {{n.content}}<br>
        <div onclick="viewFullStory()" id="fullStory"><span>View full story..{{n.id}}</span></div>
        <br>
        <div class="cardsentiment">
            <div>
                {% if n.tag %}
                Tags:
                <span id="tag">{{n.tag}}</span>
                {% else %}
                All stopwords
                {% endif %}
            </div>
            <div>
                Sentiment:
                <span id="sentival">-0.23</span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
        
    </div>

{% endblock %}

